@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "futura-md";
  src: url("../img/fonts/FutuMd.ttf");
}

.background-1 {
  background-image: url("../img/pagelogin_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-sidebar {
  background-image: url("../img/Rectangle\ 1.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.font-14 {
  font-size: 14px;
}

.font-18 {
  font-size: 18px;
}

.font-14 {
  font-size: 14px
}

.font-10 {
  font-size: 10px
}

.font-27 {
  font-size: 27px;
}

.font-36 {
  font-size: 36px;
}

.font-futura {
  font-family: "futura-md";
}

.color-gray {
  color: rgba(255, 255, 255, 0.4);
}

.button-dash-menu-active {
  background: rgba(219, 242, 242, 0.3);
  box-shadow: 0.9px 4.5px 16.2px rgba(58, 213, 212, 0.37);
  border-radius: 3.51394px;
}

.sidebar-gradient {
  background: radial-gradient(152.5% 343.17% at 50% 14.86%, #000234 0%, #141337 46.86%, #000313 93.78%);
}

.button-gradient {
  background-image: url('../img/buttonbg.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 50px;
  width: 190px;
  /* border: 0.9px solid !important;
  border-image-source: linear-gradient(241.52deg, #15BFFD 24.31%, #0C105A 67.59%),
    linear-gradient(0deg, #094EFF, #094EFF) !important;
    border-radius: 8px; */
}
.hr-line{
  height: 3px;
  background: linear-gradient(86.52deg, rgba(29, 9, 189, 0) 2.26%, rgba(37, 9, 190, 0.5) 6.34%, rgba(1, 226, 212, 0.5) 91.43%, rgba(1, 235, 221, 0) 96.53%);
}
.bell-icon{
  width: 50px !important; 
  height: 50px !important;
}
.navbar{
  z-index: 9;
  background-color: #000234;
}

@media only screen and (max-width: 992px) {
  .background-mobile {
    background-image: url("../img/pagelogin_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .background-mobile-dashbord {
    background-image: url("../img/pagelogin_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .background-1 {
    background-image: none;
  }
  .button-gradient {
    background-image: none;
    height: 50px;
    width: 50px;
    /* border: 0.9px solid !important;
    border-image-source: linear-gradient(241.52deg, #15BFFD 24.31%, #0C105A 67.59%),
      linear-gradient(0deg, #094EFF, #094EFF) !important;
      border-radius: 8px; */
  }
}
@media only screen and (max-width: 600px){
  .bell-icon{
    width: 30px !important; 
    height: 30px !important;
  }
}





/********** Template CSS **********/
:root {
  --primary: #1332e6;
  --secondary: #1c1d1f;
  --light: #6c7293;
  --dark: #000000;
}

/* .back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
} */

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  transition: 0.5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Layout ***/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background: transparent;
  transition: 0.5s;
  z-index: 999;
}

.content {
  margin-left: 250px;
  min-height: 100vh;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .sidebar {
    margin-left: 0;
  }

  .sidebar.open {
    margin-left: -250px;
  }

  .content {
    width: calc(100% - 250px);
  }

  .content.open {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    margin-left: -250px;
  }

  .sidebar.open {
    margin-left: 0;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }
}